<div class ="form">

<%= form_for @user do |f|  %>
  <%= f.label :name %>   
  <%=f.text_field :name %>
  <br>
  <br>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to "Cancel", users_path, :class => 'btn btn-primary' %>
</div>
